<div class="card articleInfo">
    <img [src]="urlImg" [alt]="textAltImg">
    <div class="card-body">
        <h5 class="card-title" [ngStyle]="{ color: getColor()}">
            {{ titrearticle | uppercase }}
            <span *ngIf="dispo == false"> - Indisponible</span>
        </h5>
        <h6 class="card-title">{{ prixArticle }} $</h6>
        <p class="card-text">{{ description }}</p> 
        <a routerLink="/details/{{id}}"> => Voir l'article</a>

        <button (click)="onLike()" 
            [ngClass]="{
                'show': jaime === true,
                'hidden' : jaime === false
            }"
            >J'aime
        </button>
        <button class="nolike" 
            (click)="onLike()"
            [ngClass]="{
                'show': jaime === false,
                'hidden' : jaime === true
            }"
            >Je n'aime pas</button>
        <!--<button class="btn btn-primary" (click)="onLike()">J'aime</button>-->
        <p>Nombre de like : {{ totalNbrLike }}</p>

        <input type="text" placeholder="Ecris ton commentaire" [(ngModel)]="comment">
        <p>Commentaire :{{ comment }}</p>
    </div>
</div>