<!-- Menu -->
<nav class="navbar navbar-expend-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">La bonne Affaire</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Accueil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenu -->
<router-outlet></router-outlet>

<!-- Pied de page -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white"> Copyright &copy; La Bonne Affaire</p>
  </div>
</footer>